.social-buttons {
    position: relative;
    top: 16px;
}

.container-fluid {
    background-color: black;
}


.wrap-dashboard{
    margin-left: 200px;
}

.form-control {
    width: 900px;
}

#wrap-button {
    margin-top:20px;
}

#title-name li{
    list-style: none;
    font-size: 14px;
}

#wrap-content {
    list-style: none;
    font-size: 12px;
}