.social-buttons {
    position: relative;
    top: 16px;
}

.container-fluid {
    background-color: black;
}


.wrap-dashboard{
    margin-left: 200px;
}

.form-control {
    width: 900px;
}

#wrap-content {
    list-style: none;
    font-size: 12px;
}

button.btn.btn-primary {
    margin-left: 15px;
    margin-top: 15px;
}